    <head>
    <title>SISTEMAS DE INFORMACION</title>
    <link href="master.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<body style="background-color:black">
</body>
<center><FONT FACE="arial" SIZE=7 COLOR="blue"><b>
Sistemas de Información Gestión de relaciones con los clientes (CRM).
</b></FONT></center>
     <br/>
     <br/>
     <FONT FACE="arial" SIZE=7 COLOR="blue">
        ¿Qué es CRM (Customer Relationship Management)?
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
La CRM (Gestión de relaciones con los clientes) es un término de la industria de la información que se aplica a metodologías, software y, en general, a las capacidades de Internet que ayudan a una empresa a gestionar las relaciones con sus clientes de una manera organizada.
</FONT><br/>
     <FONT FACE="arial" SIZE=7 COLOR="blue">
Los beneficios que aporta CRM:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
     *Visión clara de los clientes, centralizando toda la información sobre ellos: su rentabilidad, su historial de contactos, sus compras, su potencial, etc.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Historial de contactos con los clientes, de todas las comunicaciones que se han tenido con ellos: correos electrónicos, faxes, llamadas telefónicas, etc.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Gestión de las agendas de los comerciales, insertando demás acciones de manera automática en función de las planificaciones y seguimientos
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Visión clara del estado de todas las oportunidades de negocio que hay en la organización, conociendo sus probabilidades de éxito, tiempo aproximado de cierre e importe.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Introducción de los pedidos automáticamente por parte de los vendedores, a cualquier hora y desde cualquier lugar a través de su portátil o de su dispositivo móvil.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Obtención de las previsiones de ventas de manera sencilla y rápida, con un alto nivel de precisión.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Asignación a cada oportunidad de negocio del comercial más apropiado en cada caso en función de diferentes parámetros.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Correcta gestión de los seguimientos comerciales, asignando determinadas acciones de seguimiento automático, simplificando así el proceso.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Cualquier usuario del sistema (desde el comercial al director general, pasando por el director comercial o el de marketing), puede entrar desde cualquier sitio y a cualquier hora, para consultar cualquier aspecto sobre los clientes, oportunidades o acciones de marketing.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Conocimiento de la eficacia y eficiencia de las ventas por zonas, productos y comerciales.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Conocimiento de la estructura de costes del área comercial para conocer el coste de adquisición por cliente, el valor de un cliente, la rentabilidad, etc.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Planificación de las distintas acciones introduciéndolas directamente en la agenda de los comerciales, como por ejemplo, las primeras visitas tras una acción de marketing directo o el envío de una evaluación de satisfacción del cliente tras haber pasado un mes de su compra.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Visión clara de la efectividad de las acciones de marketing y de su repercusión en los costes
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Integración de los pedidos y contactos a través del sitio Web al sistema.</FONT><br/>
 <br/>
 <br/>
<center><img src="https://2.bp.blogspot.com/_8FgBEaGyOyM/SlnxL6cbYYI/AAAAAAAAAA0/kBzNs-53f3U/s400/CRM.jpg"></center>
 <br/>
 <br/>
<FONT FACE="arial" SIZE=7 COLOR="blue">
Ventajas y desventajas del CRM:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
La principal ventaja que trae aparejada la implementación de la Gestión de las Relaciones con los Clientes en una empresa es el aumento de la información que esta posee de sus actuales y potenciales clientes, lo que permite direccionar la oferta hacia sus deseos y necesidades, aumentando así el grado de satisfacción y optimizando su ciclo de vida.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Otras ventajas que trae aparejada la implementación del CRM son el aumente de las ventas y la reducción del ciclo de venta. Las desventajas están relacionadas con los elevados costos que tiene la aplicación de CRM, tanto en términos de recursos económicos como así también humanos, y con la dificultad que tiene el manejo de la información dada la reticencia de algunos sectores a compartirla y también al riesgo de invadir la privacidad del cliente y exponerlo a situaciones indeseadas.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Las micro y pequeñas empresas tienen la ventaja de contar con menos clientes y menos personal lo que le facilita el manejo de la información y hace difícil la aparición de problemas para compartirla.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
El hecho de manejar un bajo caudal de información también reduce los costos ya que muchas veces no es necesario adquirir un software especial para hacerlo sino que se puede llevar manualmente o en programas simples como el Access.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Un problema que se puede presentar algunas veces en las empresas de menor tamaño es la falta de formalización de los procedimientos y la falta de interés de los empleados por interiorizarse en la importancia que tienen estos y en la filosofía de trabajo de la empresa.
 </FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="blue">
Diseño e implementación de CRM:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Para comenzar con el diseño y la implementación consideramos que es fundamental que el dueño o administrador sea conciente que la inversión en el CRM no es una inversión única, sino que requerirá adaptarse constantemente a las preferencias de los clientes y al crecimiento de la empresa, lo que traerá aparejada una inversión constante.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Una vez que el dueño o administrador tenga en claro y acepte lo antedicho, la empresa deberá cumplir y desarrollar los siguientes pasos para lograr una implementación exitosa del CRM en su organización:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Recopilar la información de ventas a través de una planilla para conocer las preferencias de los clientes. Esto le permitirá adaptar su oferta al gusto de sus clientes y le da la posibilidad de enviar periódicamente promociones especiales preparadas de acuerdo a sus compras más frecuentes.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Se debe capacitar al personal de contacto, directo e indirecto, con el cliente. Concientizarlos sobre las claves para comprender su aplicación, brindarles la información suficiente para que conozcan con exactitud el negocio, productos y servicios que ofrecen. Además deben saber el segmento en el que están posicionados, para adaptarse a los cambios de las necesidades, gustos y costumbres de sus consumidores. Un punto muy importante para comunicar a su gente es la diferenciación de nuestro servicio o producto, ya que si esto no esta claro en el cliente interno va a ser imposible que las herramientas de comunicación lo transmitan.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Realizar un Plan de Acción estableciendo parámetros para adaptarse al crecimiento esperado de la empresa, tanto en infraestructura como en personal.
</FONT><br/>

<FONT FACE="arial" SIZE=7 COLOR="blue">
Software CRM
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Salesforce
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Salesforce es la empresa líder de CRM como software bajo demanda, y es más conocida por producir un CRM llamado Sales Cloud. Además de esta solución, la empresa cuenta con más productos relacionados con la atención al cliente, marketing, inteligencia artificial, gestión de comunidades, creación de aplicaciones entre otras soluciones.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Microsoft Dynamics
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Manejar un negocio exitoso no es una tarea sencilla. Cuando las campañas de marketing, el análisis de datos, las reuniones, la atención al cliente y mucho más suceden simultáneamente,  una poderosa solución de CRM como la de Microsoft es buena para reunir todas estas funciones en un solo lugar.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Open Source
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Los paquetes de software CRM de código abierto son altamente valorados por sus usuarios y compiten muy bien con los productos comerciales.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Opentaps
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Opentaps Open Source ERP + CRM le ofrece las características avanzadas y de primer nivel de software ERP y CRM con la flexibilidad y bajo costo de propiedad que sólo el código abierto puede ofrecer. Opentaps puede ser utilizado como alternativa a las caras e inflexibles soluciones comerciales de ERP.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Las principales características de Open Source opentaps ERP + CRM incluyen:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Un juego completo de herramientas que ofrecen una vista de 360 grados de su negocio, desde clientes a órdenes de inventario a contabilidad. Opentaps es una aplicación que corre sobre un único modelo de datos con más de 700 cuadros, por lo que nunca tenemos que hacer integración desordenada de nuevo.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Compatible con todos las grandes bases de datos relacionales, incluyendo MySQL, PostgreSQL, Oracle, Sybase y Microsoft SQL Server.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Corre en las plataformas operativas Linux, Unix, Windows.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Arquitectura Orientada a Servicios para facilitar la interoperabilidad con aplicaciones externas.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Su Arquitectura modular y unida permite una fácil modificación o adición. Una aplicación adicional podría ser descomprimida en un directorio e usada inmediatamente.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Sincronización local y remota de escalabilidad y alta disponibilidad.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
• Flujo de trabajo único para la adaptación a los procesos de negocio.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Tunesta
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Tustena CRM OS (OpenSource) es gratis, un gestionador de clientes escrito en C # para la plataforma. NET.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*Compiere
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Compiere es un sistema integrado de planificación de recursos empresariales (ERP) y Gestión de Relaciones con los Clientes (CRM), el software combina el poder de los puntos de venta (POS), la distribución, el inventario, el comercio electrónico, contabilidad y sistemas de flujo de trabajo dentro de una robusta aplicación.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
Compiere es completamente personalizable para adaptarse a su empresa y fue creado para manejar los desafíos del comercio mundial.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
*XRMS
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
XRMS CRM es un sistema de Gestion de Clientes (CRM), que permite a una organización centrada exitosamente en el cliente.
/FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="blue">
XRMS es un completo conjunto integrado de herramientas basadas en las tecnologías Web para la Gestión de Clientes (CRM), automatización de la fuerza de ventas (SFA), y herramientas de Inteligencia de Negocios (BI).
</FONT><br/>
 <br/>
 <br/>
<center><img src="https://s3-us-west-2.amazonaws.com/bfxpublicos/salesupblog/100007896836.png"></center>
 <br/>
 <br/>
 </body>
