<body bgcolor=#3398FF>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>ROLES</h2>
  <p>Los roles se dividen en 2 grupos: cerdos y gallinas, esto surge en el chiste sobre un cerdo y una gallina y su intención de poner un restaurante.<br/>
  <br> 1.	LOS CERDOS
    Son las personas que están comprometidas con el proyecto y el proceso de Scrum.<br/>
  <br>*  Product Owner: Es la persona que toma las decisiones, y es la que realmente conoce el negocio del cliente y su visión del producto. Se encarga de escribir las ideas del cliente, las ordena por prioridad y las coloca en el Product Backlog.<br/>
  <br> *	ScrumMaster: Es el encargado de comprobar que el modelo y la metodología funciona. Eliminará todos los inconvenientes que hagan que el proceso no fluya e interactuará con el cliente y con los gestores.<br/>
  <br> *	Equipo De Desarrollo: suele ser un equipo pequeño de unas 5-9 personas y tienen autoridad para organizar y tomar decisiones para conseguir su objetivo. Está involucrado en la estimación del esfuerzo de las tareas del Backlog.<br/>
 </p>
 <p> <br> 2.	LAS GALLINAS
    Aunque no son parte del proceso de Scrum, es necesario que parte de la retroalimentación dé la salida del proceso y así poder revisar y planear cada sprint.<br/>
   <br>*	Usuarios: Es el destinatario final del producto. <br/>
  <br>* 	Stakeholders: Las personas a las que el proyecto les producirá un beneficio. Participan durante las revisiones del Sprint. <br/>
<br>* 	Managers: Toma las decisiones finales participando en la selección de los objetivos y de los requisitos.<br/>
 </p>
  <img src="pc4.jpg" alt="img1" width="400" height="350">
</body>
