<body bgcolor=#3398FF>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>HERRAMIENTAS</h2>
  <p>Las 3 herramientas clave de gestión, elementos para la gestión de un proyecto de desarrollo de software.<br/>
  <br> 1.Planificación del Backlog<br/>
  <br>Se definirá un documento en el que se reflejarán los requisitos del sistema por prioridades. <br/>
  <br> En esta fase se definirá también la planificación del Sprint 0, en la que se decidirá cuáles van a ser los objetivos y el trabajo que hay que realizar para esa iteración.
      Se obtendrá además en esta reunión un Sprint Backlog, que es la lista de tareas y que es el objetivo más importante del Sprint.<br/>
 </p>
 <p> <br>2.	Seguimiento del Sprint <br/>
   <br> En esta fase se hacen reuniones diarias en las que las 3 preguntas principales para evaluar el avance de las tareas serán:<br/>
  <br> *  ¿Qué trabajo se realizó desde la reunión anterior? <br/>
<br> *  ¿Qué trabajo se hará hasta una nueva reunión?<br/>
<br> *  Inconvenientes que han surgido y qué hay que solucionar para poder continuar.<br/>
 </p>

</p>
<p> <br> 3.	Revisión del Sprint<br/>
  <br>Cuando se finaliza el Sprint se realizará una revisión del incremento que se ha generado. <br/>
 <br> Se presentarán los resultados finales y una demo o versión, esto ayudará a mejorar el feedback con el cliente.<br/>
</p>
  <center><img src="/images/her.png" alt="img1" width="400" height="350"></center>
</body>
