<div class="parallax-container">
  <div class="parallax"><img src="/images/fondo1.jpg"></div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">SISTEMAS DE INFORMACION </h2>
    <p class="grey-text text-darken-3 lighten-3">En esta serie de páginas encontrarás información relacionada con el
      trabajo realizado en el octavo semestre de la carrera de Ingeniería en Computación en la materia antes mecionada
      con el profesor Jesús Hernandez Cabrera utilizando herramientas como Atom, el editor de codigo de Git, y distintas
      herramientas brindadas por esta misma empresa, por ejemplo Git Hub, Git Bash, etc, usando también herramientas como
      https://materializecss.com/ entre otras.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="/images/fondo2.jpg"></div>

</div>
<h2 class="header"> ACERCA DE </h2>
  <p class="grey-text text-darken-3 lighten-3">Página hecha en Mayo del 2019 con fecha de entrega de 31/05/2019 por un equipo,
    todos los derechos de las herramientas son reservados y pretenecen a las respectivas empresas.
    Trabajo realizado durante el periodo de estudios en la Facultad de Estudios Superiores de la Unam, Carrera de Ingeniería en Computación.</p>
      <img src="/images/ico.png">                                         <img src="/images/unam.png">
