




<h1>informacion del equipo</h1>
  <img src="/images/ico.png">



miembro 1 <a href="/informacion/renep"> rene ...</a>
  <img src="/images/rene.jpg">


miembro 2 <a href="/informacion/danielba"> danielb ...</a>
  <img src="/images/danieloros.jpg">

miembro 3 <a href="/informacion/daniel"> danielo ...</a>
  <img src="/images/danieloros.jpg">

miembro 4 <a href="/informacion/alinel"> aline ...</a>

miembro 5 <a href="/informacion/miguela"> miguel ...</a>
