<div class="col s5 m8 offset-m2 l6 offset-l3">
    <div class="row valign-wrapper">
      <div class="col s3">
        <img src="/images/daniel.jpg" width="100" height="50" alt="" class="circle responsive-img" href="/informacion/danielba"> <!-- notice the "circle" class -->
        <img src="/images/danieloros.jpg" alt="" class="circle responsive-img" alt="" data-position="25% 25%" href="/informacion/danielba">
        <img src="/images/rene.jpg" alt="" class="circle responsive-img" alt="" data-position="25% 25%" href="/informacion/danielba">
        <img src="/images/ico.jpg" alt="" class="circle responsive-img" alt="" data-position="25% 25%" href="/informacion/danielba">
        <img src="/images/daniel.jpg" alt="" class="circle responsive-img" alt="" data-position="25% 25%" href="/informacion/danielba">
      </div>
      <div class="col s10">
        <span class="black-text">
          This is a square image. Add the "circle" class to it to make it appear circular.
        </span>
      </div>
    </div>
</div>


<br>
<br><br><br><br><br><br><br><br><br><br><br><br>







<h1>informacion del equipo</h1>
  <img src="/images/ico.png">////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////



miembro 1 <a href="/informacion/renep"> rene ...</a>
  <img src="/images/rene.jpg">


miembro 2 <a href="/informacion/danielba"> danielb ...</a>
  <img src="/images/daniel.jpg">

miembro 3 <a href="/informacion/daniel"> danielo ...</a>
  <img src="/images/danieloros.jpg">

miembro 4 <a href="/informacion/alinel"> aline ...</a>

miembro 5 <a href="/informacion/miguela"> miguel ...</a>
