<body bgcolor=#3398FF>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>METODOLOGIA AGIL </h2>

          <p> <br> El método Ágil es un proceso que permite al equipo dar respuestas rápidas e impredecibles a las valoraciones que reciben sobre su proyecto.<br/>
            <br> Crea oportunidades de evaluar la dirección de un proyecto durante el ciclo de desarrollo. Los equipos evalúan el proyecto en reuniones regulares, llamadas sprints o iteraciones. <br/>
           <br> El método ágil es un proceso de empoderamiento que ayuda a las empresas a diseñar y crear el producto idóneo. <br/>
          <br> El proceso de gestión es muy beneficioso para las compañías de software porque les permite analizar y mejorar su producto durante el desarrollo del mismo.<br/>
          </p>

          <p> <br>Las aproximaciones ágiles emplean procesos técnicos y de gestión que continuamente se adaptan y se ajustan a (Turk et al., 2002)  <br/>
            <br> Cambios derivados de las experiencias ganadas durante el desarrollo.<br/>
           <br> Cambios en los requisitos.<br/>
          <br> Cambios en el entorno de desarrollo .<br/>
          </p>

          <p> <br> El manifiesto ágil tiene cuatro valoraciones importantes:<br/>
            <br> 1.- El foco se debe poner más sobre las personas y las interacciones que sobre los procesos y herramientas<br/>
           <br> 2.- El software funcionando es más importante que la documentación extensiva<br/>
          <br> 3.- La colaboración con el cliente es más importante que la negociación contractual<br/>
          <br> 4.- El proceso debería responder ante el cambio, en lugar de seguir un plan<br/>
          </p>

          <center><img src="/images/metodo.png" alt="img1" width="400" height="350"></center>
        </body>
