<h1> </h1>

<div class="row">
   <div class="col s12 m6">
     <div class="card">
       <div class="card-image">
         <img src="/images/miguel.jpg">
         <span class="card-title">Miguel Angel Zurita Bautista</span>
         <div class="card-action center">
           <a id="scale-demo" href="https://www.facebook.com/zurita.ska8" class="btn-floating btn-large scale-transition"><i class="large material-icons">account_box</i>
           </a>
           <a id="scale-demo" href="https://www.youtube.com/channel/UCHqD_qgdMT3KbJC2FrkheYw?view_as=subscriber" class="btn-floating btn-large scale-transition"><i class="large material-icons">photo_camera</i>
           </a>
         </div>
       </div>
       <div class="card-content">
         <p> Me gusta salir a caminar y hacer cosas recreativas, tambien me gusta el deporte y leer sobre cualquier tema de interes social o divulgacion cientifica</p>
       </div>
     </div>

     <div class="card-content grey lighten-4">
      <div id="test1">Numero de cuenta: 826</div>
      <div id="test2">Carrera: ICO</div>
      <div id="test3">E-mail: Zurita.ska8@gmail.com</div>
      <div id="test3">Semestre: Octavo</div>
    </div>

   </div>
 </div>
