    <head>
    <title>SISTEMAS DE INFORMACION</title>
    <link href="master.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <body style="background-color:black">
</body>

<center><FONT FACE="arial" SIZE=8 COLOR="green"><b>Sistemas de información gerencial (MIS).<b/></FONT></center>
     <br/>
     <br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
        Definicion:
</FONT><br/>

<FONT FACE="arial" SIZE=5 COLOR="green">
       Sistema de información gerencial (MIS por sus siglas en inglés), es un sistema de información basado en computadora, que presenta una colección de personas, procedimientos, bases.
</FONT><br/>

<FONT FACE="arial" SIZE=5 COLOR="green">
     Los sistemas de información para la administración tienen como objetivo principal mostrar una visión general de la situación de la empresa. Consecuentemente, estos muestran la situación de las operaciones regulares de la empresa para que los directivos puedan controlar, organizar, planear y dirigir.
</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
      Características:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
     Las características principales de un MIS son:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
      * Produce reportes (anuales, semestrales, trimestrales o mensuales) con un formato preestablecido.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
      * Produce consultas impresas o consultas en pantalla
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
      * Utiliza datos internos de las operaciones de la empresa, almacenados en las bases de datos de los sistemas de datos transaccionales.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
       Un ejemplo claro de los sistemas de información para la administración son los MIS de ventas, los MIS de finanzas, los MIS de recursos humanos, los MIS de control de inventarios, etc.
</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
Funciones de un MIS:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
El MIS y sus sistemas aledaños contribuyen a la solución de problemas a través de dos formas básicas: los recursos de información que abarcan a toda la organización, y la identificación y comprensión de los problemas. Los recursos de información que abarcan toda la organización se refieren a que el MIS es un esfuerzo que requiere de toda la organización y que busca proporcionar información importante para la toma de decisiones. El sistema es un acuerdo y un compromiso formal por parte de los ejecutivos de poner computadoras al servicio de los gerentes. El MIS acondiciona el terreno para alcanzar logros en otras áreas de la empresa relacionadas con los SIBC, como son los DSS, los sistemas basados en conocimientos y la oficina virtual (McLeod, 2000). La identificación y comprensión de los problemas se refiere a que la idea o concepto fundamental en el que se basa el MIS es el mantenimiento de un flujo continuo de información hacia el gerente, ya que el gerente usa el MIS principalmente para detectar problemas actuales o urgentes, y posteriormente para entenderlos determinando las causales y sus ubicaciones (McLeod, 2000).

</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
Tipos de MIS:

</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
Existen tres tipos de reportes MIS, los reportes programados, los reportes por demanda y los reportes por excepción. Los reportes programados son reportes generados de manera periódica que presentan resultados de las operaciones, así como reportes con indicadores de la situación de la empresa. Los reportes por demanda son reportes que se generan sólo cuando el administrador o tomador de decisiones requiere de cierta información. La elaboración de estos reportes no es automática, sino que se genera a partir de la solicitud del usuario. Los reportes por excepción son reportes generados en el momento en que ocurre alguna situación crítica, en la cual se requiere información adicional acerca de algún evento especial.

</FONT><br/>

</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
Ventajas:

</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
* Maneja capacidad amplia para almacenar datos, para así realizar un plan de mercado interno.

</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
*  Utiliza tecnología, generando mayor rapidéz y siendo mas eficiente.

</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
Desventajas:

</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
* Aumenta costos gracias a la utilización de la tecnología.

</FONT><br/>

<FONT FACE="arial" SIZE=5 COLOR="green">
Las Organizaciones que utilizan mas este sistema son las pequeñas y medianas empresas (Generando facil adaptación a los cambios que pueden ocasionar el entorno en el que se encuentra)

</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="green">
Ejemplos de implementacion del sistema:

</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
 * TOYOTA: ha implementado un software, para que asi su produccion sea mas eficaz y de mayor calidad.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="green">
* DIRECTV: Amplia base de datos de clientes, clasificando tipos de suscripción, montos de facturación, Etc.Interviniendo finalmente todas las áreas de la Empresa, para contar con un servicio al cliente efectivo, eficaz con calidad y automatizado para mayor facilidad en la organización.
       </FONT><br/>
 <br/>
 <br/>
<center><img src="https://image.freepik.com/vector-gratis/direccion-de-marketing_23-2147506555.jpg"></center>
 <br/>
 <br/>
 </body>
