<div class="row">
  <div class="col s50 m4">
    <div class="card">
      <div class="card-image">
        <img src="/images/rene.jpg">
        <span class="card-title">Scrum Master/span>
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">René Jesús Pineda Angeles<i class="material-icons right">...</i></span>
      </div>
      <div class="card-reveal">
        <span class="card-title gray-text text-darken-4">René Jesús Pineda Angeles<i class="material-icons right">X</i></span>
        <br/>
        <br/>

        <center><FONT FACE="calibri" SIZE=12 COLOR="blue">N° de Cuenta<br/></FONT></center>
        <center><FONT FACE="arial" SIZE=9 COLOR="red">541<br/></FONT></center>
        <br/>
        <br/>
        <center><FONT FACE="arial" SIZE=12 COLOR="blue">Carrera<br/></FONT></center>
        <center><FONT FACE="arial" SIZE=8 COLOR="red">Ingeniería en Computación<br/></FONT></center>
        <br/>
        <br/>
        <center><FONT FACE="arial" SIZE=12 COLOR="blue">Semestre<br/></FONT></center>
        <center><FONT FACE="arial" SIZE=8 COLOR="red">Octavo Smestre<br/></FONT></center>
        <br/>
        <br/>
        <center><FONT FACE="arial" SIZE=12 COLOR="black">E-mail<br/></FONT></center>
        <center><FONT FACE="arial" SIZE=8 COLOR="blue">ranarene179@gmail.com<br/></FONT></center>
        <br/>
        <br/>
        <center><FONT FACE="arial" SIZE=12 COLOR="yellow">Hobbies<br/></FONT></center>
        <center><FONT FACE="arial" SIZE=8 COLOR="black">Mis pasatiempos preferidos son salir con mis migos y/o novia para relajarnos, también hacer todo tipo de deportes, comer mientras juego videojuegos y escuchar música a todo momento.<br/></FONT></center>

      </div>
      <div class="card-action">
        <a href="https://twitter.com/ReneP55">Twitter</a>
        <a href="https://www.instagram.com/rene597/">Instagram</a>
          <a href="https://www.facebook.com/RenePineda55">Facebook</a>
      </div>
    </div>
  </div>
</div>

</html>
