<ul class="collapsible">

  <li>
    <div class="collapsible-header">
      <i class="material-icons">extension</i>
      METODOLOGÍA AGIL
      <div class="col s9">
        <a href="/scrum/metodologias"><img src="/images/Agil.png" width="580" height="390" alt="" class="circle responsive-img"></a>
      </div>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">card_travel</i>
      SCRUM
      <a href="/scrum/scrumm"><img src="/images/scru.png" width="580" height="390" alt="" class="circle responsive-img"></a>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">cached</i>
      ROLES
      <a href="/scrum/role"><img src="/images/roles.png" width="580" height="390" alt="" class="circle responsive-img"></a>
    </div>
  </li>

  <li>
    <div class="collapsible-header">
      <i class="material-icons">build</i>
      HERRAMIENTAS
      <a href="/scrum/herramienta"><img src="/images/herramientas.png" width="580" height="390" alt="" class="circle responsive-img"></a>
    </div>
  </li>

</ul>
