<body bgcolor=#3398FF>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h2>SCRUM</h2>
  <p>Scrum es adecuado para aquellas empresas en las que el desarrollo de los productos se realiza en entornos que se caracterizan por tener:<br/>
  <br> 1.	Incertidumbre: Sobre esta variable se plantea el objetivo que se quiere alcanzar sin proporcionar un plan detallado del producto.
    Esto genera un reto y da una autonomía que sirve para generar una “tensión” adecuada para la motivación de los equipos.<br/>
    <br>2.	Auto-organización: Los equipos son capaces de organizarse por sí solos, no necesitan roles para la gestión pero tienen que reunir las siguientes características:<br/>
 </p>
 <p>
  <br> *	Autonomía: Son los encargados de encontrar la solución usando la estrategia que encuentren adecuada.<br/>
  <br> *	Autosuperación: Las soluciones iniciales sufrirán mejoras.<br/>
  <br> *	Auto-enriquecimiento: Al ser equipos multidisciplinares se ven enriquecidos de forma mutua, aportando soluciones que puedan complementarse<br/>
 </p>
 <p>
   <br>3.	Control moderado: Se establecerá un control suficiente para evitar descontroles. Se basa en crear un escenario de “autocontrol entre iguales” para no impedir la creatividad y espontaneidad de los miembros del equipo. <br/>
  <br> 4.	Transmisión del conocimiento: Todo el mundo aprende de todo el mundo. Las personas pasan de unos proyectos a otros y así comparten sus conocimientos a lo largo de la organización. <br/>
 </p>
  <img src="pc4.jpg" alt="img1" width="400" height="350">
</body>
