<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">SISTEMAS DE INFORMACION</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/sistemas/tpss">TPS</a></li>
      <li><a href="/sistemas/crmm">CRM</a></li>
      <li><a href="/sistemas/miss">MIS</a></li>
    </ul>
  </div>
</nav>
