  <div class="slider">
    <ul class="slides">
      <li>
        <img src="/images/fondo1.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>Dato:</h3>
          <h5 class="light grey-text text-lighten-3">Un dato es la expresión general que va a describir aquellas características de la entidad sobre la que opera. En la estructura de datos, un dato es la más mínima parte de la información.
          <br/>
          <br/>
          Dentro de los archivos también encontramos datos. Estos datos consisten generalmente en paquetes más pequeños de otros datos, que son llamados registros. Estos datos están reunidos por características iguales o similares.
          </h5>
        </div>
      </li>
      <li>
        <img src="/images/fondo2.jpg"> <!-- random image -->
        <div class="caption left-align">
          <h3>Información:</h3>
          <h5 class="light grey-text text-lighten-3">Se denomina como conjunto de datos, ya procesados y ordenados para su comprensión, que aportan nuevos conocimientos a un individuo o sistema sobre un asunto, materia, fenómeno o ente determinado.
          <br/>
          <br/>
          En la Informática, como información se denomina el conjunto de datos organizados y procesados que funcionan como mensajes, instrucciones y operaciones o cualquier otro tipo de actividad que tenga lugar en una computadora.
        </h5>
        </div>
      </li>
      <li>
        <img src="/images/fondo3.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3>Sistema de Información:</h3>
          <h5 class="light grey-text text-lighten-3">Cuando se habla de un sistema de información (SI) se refiere a un conjunto ordenado de mecanismos que tienen como fin la administración de datos y de información, de manera que puedan ser recuperados y procesados fácil y rápidamente.
          Todo sistema de información se compone de una serie de recursos interconectados y en interacción, dispuestos del modo más conveniente en base al propósito informativo trazado, como puede ser recabar información personal, procesar estadísticas, organizar archivo, etc. Estos recursos pueden ser:
          <br/>
          <br/>
          •	Recursos humanos: Personal de variada índole y destrezas.
          <br/>
          •	Datos: Cualquier tipo de información masiva que precisa de organizarse.
          <br/>
          •	Actividades: Procedimientos, pasos a seguir, estaciones de trabajo, etc.
          <br/>
          •	Recursos informáticos: Aquellos determinados por la tecnología.
      </h5>
        </div>
      </li>
      <li>
        <img src="/images/ico.png"> <!-- random image -->
        <div class="caption center-align">
          <h3>Información Útil:</h3>
          <h5 class="light grey-text text-lighten-3">Está asociada a una parte concreta de la materia, por ejemplo, un concepto, una idea, un apartado. Debe estar asociada a una actividad concreta del usuario, debe aportar información completa y entendible para los usuarios, puede ser externa (la que encontramos en internet) e interna (la que generamos en nuestro contexto). La información útil externa e interna la puede aportar bastante al usuario si es buscada de buenas fuentes. Si conseguimos, entre todos, aportar información útil, organizarla y utilizarla, estaremos dando un gran paso hacia delante en la gestión del conocimiento, la cooperación y la mejora de la competitividad; todo ello para conseguir hacer mejor nuestro trabajo a los usuarios.</h5>
        </div>
      </li>
    </ul>
  </div>
