<div class="parallax-container">
  <div class="parallax"><img src="/images/fondo1.jpg"></div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">Dato:</h2>
    <p class="grey-text text-darken-3 lighten-3">Un dato es la expresión general que va a describir aquellas características de la entidad sobre la que opera. En la estructura de datos, un dato es la más mínima parte de la información.
    Dentro de los archivos también encontramos datos. Estos datos consisten generalmente en paquetes más pequeños de otros datos, que son llamados registros. Estos datos están reunidos por características iguales o similares.</p>
    </div>
  </div>
  <div class="section blue lighten-4">
    <div class="row container">
      <h2 class="header">Información:</h2>
      <p class="grey-text text-darken-3 lighten-3">Se denomina como conjunto de datos, ya procesados y ordenados para su comprensión, que aportan nuevos conocimientos a un individuo o sistema sobre un asunto, materia, fenómeno o ente determinado.
En la Informática, como información se denomina el conjunto de datos organizados y procesados que funcionan como mensajes, instrucciones y operaciones o cualquier otro tipo de actividad que tenga lugar en una computadora.
</p>
      </div>
    </div>
    <div class="section blue lighten-4">
      <div class="row container">
        <h2 class="header">Sistema de Información:</h2>
        <p class="grey-text text-darken-3 lighten-3">Se refiere a un conjunto ordenado de mecanismos que tienen como fin la administración de datos y de información, de manera que puedan ser recuperados y procesados fácil y rápidamente.
Todo sistema de información se compone de una serie de recursos interconectados y en interacción, dispuestos del modo más conveniente en base al propósito informativo trazado, como puede ser recabar información personal, procesar estadísticas, organizar archivo, etc. Estos recursos pueden ser:
<br/>
<br/>
•	Recursos humanos: Personal de variada índole y destrezas.
<br/>
•	Datos: Cualquier tipo de información masiva que precisa de organizarse.
<br/>
•	Actividades: Procedimientos, pasos a seguir, estaciones de trabajo, etc.
<br/>
•	Recursos informáticos: Aquellos determinados por la tecnología.
<br/>
<br/>
Se debe destacar que no es lo mismo un sistema de información que un sistema informático, si bien estos últimos constituyan a menudo el grueso de los recursos de un SI. Pero existen muchos otros métodos para los sistemas de información, que no necesariamente pasan por la informática.</p>
        </div>
      </div>
      <div class="section blue lighten-4">
      <div class="row container">
       <h2 class="header">Información Útil:</h2>
       <p class="grey-text text-darken-3 lighten-3">Está asociada a una parte concreta de la materia, por ejemplo, un concepto, una idea, un apartado. Debe estar asociada a una actividad concreta del usuario, debe aportar información completa y entendible para los usuarios, puede ser externa (la que encontramos en internet) e interna (la que generamos en nuestro contexto). La información útil externa e interna la puede aportar bastante al usuario si es buscada de buenas fuentes. Si conseguimos, entre todos, aportar información útil, organizarla y utilizarla, estaremos dando un gran paso hacia delante en la gestión del conocimiento, la cooperación y la mejora de la competitividad; todo ello para conseguir hacer mejor nuestro trabajo a los usuarios.
      </p>
       </div>
      </div>
      <div class="section blue lighten-4">
      <div class="row container">
      <h2 class="header">Componentes Básicos de un SI:</h2>
      <p class="grey-text text-darken-3 lighten-3">Un sistema de información debe cumplir con los siguientes componentes básicos interactuando entre sí:
      <br/>
      <br/>
      • El hardware, equipo físico utilizado para procesar y almacenar datos.
      <br/>
      • El software y los procedimientos utilizados para transformar y extraer información.
      <br/>
      • Los datos que representan las actividades de la empresa.
      <br/>
      • La red que permite compartir recursos entre computadoras y dispositivos.
      <br/>
      • Las personas que desarrollan, mantienen y utilizan el sistema.
      <br/>
      <br/>
      • Los sistemas de información son una combinación de tres partes principales: las personas, los procesos del negocio y los equipos de tecnologías de la información.
      </p>
   </div>
 </div>
<div class="parallax-container">
  <div class="parallax"><img src="/images/fondo2.jpg"></div>
