<div class="parallax-container">
  <div class="parallax"><img src="/images/fondo1.jpg"></div>
</div>
<div class="section blue lighten-4">
  <div class="row container">
    <h2 class="header">Dato:</h2>
    <p class="grey-text text-darken-3 lighten-3">Un dato es la expresión general que va a describir aquellas características de la entidad sobre la que opera. En la estructura de datos, un dato es la más mínima parte de la información.
Dentro de los archivos también encontramos datos. Estos datos consisten generalmente en paquetes más pequeños de otros datos, que son llamados registros. Estos datos están reunidos por características iguales o similares.</p>
  </div>
  <div class="section blue lighten-4">
    <div class="row container">
  <h3 class="header">Información</h3>
  <p class="grey-text text-darken-3 lighten-3">Se denomina como conjunto de datos, ya procesados y ordenados para su comprensión, que aportan nuevos conocimientos a un individuo o sistema sobre un asunto, materia, fenómeno o ente determinado.
En la Informática, como información se denomina el conjunto de datos organizados y procesados que funcionan como mensajes, instrucciones y operaciones o cualquier otro tipo de actividad que tenga lugar en una computadora.</p>

<div class="parallax-container">
  <div class="parallax"><img src="/images/fondo2.jpg"></div>
</div>
