<!doctype html>
<html>
    <head>
    <title>SISTEMAS DE INFORMACION</title>
    <link href="master.css" rel="stylesheet" type="text/css">
  </head>
  <body>
<body style="background-color:black">
</body>
 <center><FONT FACE="arial" SIZE=8 COLOR="#E23D93"><b>
Sistemas de Información Transaccional (TPS).</b></FONT></center>
     <br/>
     <br/>
<FONT FACE="arial" SIZE=7 COLOR="#E23D93">
        Definición:
</FONT><br/>

<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
        Un sistema transaccional es un tipo de sistema de información diseñado para recolectar, almacenar, modificar y recuperar todo tipo de información que es generada por las transacciones en una organización.
</FONT><br/>

<FONT FACE="arial" SIZE=7 COLOR="#E23D93">
     Transacción:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
      Una transacción es un evento o proceso que genera o modifica la información que se encuentra eventualmente almacenada en un sistema de información.</FONT><br/>
</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="#E23D93">
      Funciones concretas de un sistema transaccional:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
      * Un sistema transaccional debe controlar las transacciones para mantener la seguridad y consistencia de los datos involucrados.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
      *Un sistema transaccional debe ser capaz de enmendar cualquier error ocurrido durante una transacción, pudiendo deshacer las operaciones realizadas, manteniendo los datos tal cual estaban antes del error.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
      * También debe ser capaz de controlar y administrar múltiples transacciones, determinando prioridades entre éstas.
</FONT><br/>

<FONT FACE="arial" SIZE=7 COLOR="#E23D93">
       Propiedades de los sistemas transaccionales:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">

       * Automatizan tareas operativas en una organización, permitiendo ahorrar en personal.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
       * Suelen dirigirse especialmente al área de ventas, finanzas, marketing, administración y recursos humanos.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
       * Suelen ser los primeros sistemas de información que se implementan en una organización.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
       * Sus cálculos y procesos suelen ser simples.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
       * Se suelen utilizar para cargar grandes bases de datos.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
       * Los beneficios de este tipo de sistemas en una organización son rápidamente visibles.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
       * Estos sistemas son optimizados para almacenar grandes volúmenes de datos, pero no para analizar los mismos.
</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="#E23D93">
       Características de un sistema transaccional:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
* Para que un sistema informático pueda ser considerado como un sistema transaccional, debe superar el test ACID.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
* Rapidez: deben ser capaces de responder rápidamente, en general la respuesta no debe ser mayor a un par de segundos.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
* Fiabilidad: deben ser altamente fiables, de lo contrario podría afectar a clientes, al negocio, a la reputación de la organización, etc. En caso de fallas, debe tener mecanismos de recuperación y de respaldo de datos.
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
* Inflexibilidad: no pueden aceptar información distinta a la establecida. Por ejemplo, el sistema transaccional de una aerolínea debe aceptar reservas de múltiples agencias de viajes. Cada reserva debe contener los mismos datos obligatorios, con determinadas características.
</FONT><br/>
<FONT FACE="arial" SIZE=7 COLOR="#E23D93">
Ejemplos:
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
1. Lector de banda magnética (cajero automático)
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
2. Transferencia de dinero en cuentas bancarias (sistema bancario)
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
3. Reservación de boletos a las aerolíneas
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
4. Pagos por Internet
</FONT><br/>
<FONT FACE="arial" SIZE=5 COLOR="#E23D93">
5. Sistemas que administran entradas de órdenes de ventas
</FONT><br/>
 <br/>
 <br/>
<center><img src="https://image.freepik.com/vector-gratis/direccion-de-marketing_23-2147506555.jpg"></center>
 <br/>
 <br/>
</body>
</html>
